*{
    margin:0;
    padding:0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: sans-serif;;
    background-image: url('https://wallpapercave.com/wp/wp13235482.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    cursor:pointer;
}

header{ 
    background-color: #015352;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}
header nav{
    display: flex;
    justify-content: flex-end;
    height: 100%;
}
header nav .nav-right-section { 
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type:none;
    text-align: center;
    
}
nav .nav-right-section a {
    color: #fff;

}
nav .nav-right-section .gmail-text{
margin-right: 15px;
}
nav .nav-right-section .imagen-text{
}


nav .nav-right-section .menu-icon{
    background-image: url("https://icon-library.com/images/google-menu-icon/google-menu-icon-9.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 45px;
    width: 75px;
}
nav .nav-right-section img{
    border-radius: 50%;
    height: 45px;
    width: auto;
}
main{
    margin-top: 200px;
    text-align: center;
    width: 100%;
    height: 100%;
}
main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 10px;
}
main .main-logo img{
    width: 300px;
}
main .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 25px;
}
main .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #dfe1e5;
}
main .main-input input{
    width: 450px;
    height: 30px;
    border: none;
    outline: none;
}
main .main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e5
}
main .main-input .search-icon{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
height: 18px;
width: 18px;
padding-right: 18px;
opacity: 0.5;
}
main .main-input .micro-icon{
background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
width: 18px;
height: 18px; 
cursor: pointer;
padding-left: 18px;
}
main .main-buttons{ 
    width: 530px;
    margin: 0 auto
}
main .main-buttons div{
    display: inline-block;
}
main .main-buttons button {
    height: 35px;
    background-color: #f2f2f2;
    border: none; 
    font-size: 14px;
    color: #005b56;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
}
main .main-buttons button:hover{ 
    border: 1px solid #23232768;
    color: #00000068;
    box-shadow: 0 1px 1px #20212447;
    color: #000000;
}
footer{ 
    width: 100%;
    height: 50px;
    background-color: #414141;
    color: #fff;
    display: flex;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
align-items: center;
font-size: 13px;
border-top: 1px solid #dfe1e5;;
}
footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}
footer .footer-left{ 
    justify-content: left;
}
footer .footer-right{ 
    justify-content: right;
}
footer ul li a{
    margin:10px;
    color: #fff;

}
footer ul li a:hover{
    color: #000000;
}